* {
    margin: 0;
    padding: 0;
}

.flex-shrink-0 .container {
    padding: 50px 50px;
}

.form-hidden {
    display: none;
}

.formIndividual {
    background-color: cadetblue;
    width: 30%;
}

.btn,
.btnback {
    padding: 0.7em;
    background-color: #007881;
    border-radius: 10px;
    border: 1px solid #eee;
}

.btn:hover,
.btnback:hover {
    padding: 0.7em;
    background-color: #00ABC2;
    border-radius: 10px;
    border: 1px solid #eee;
    transition: all 0.7s ease-in;
}